<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="author" content="Atmira Team">  
  <title>Arq Base Front CESDATA</title>
  <style>
   body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0;
    padding: 0;
  }
  h1 { 
    font-family: 'Enriqueta', arial, serif; 
    line-height: 1.25; 
    margin: 3rem; 
    font-size: 40px; 
    font-weight: bold; 
  }
  </style>
</head>
<body>
  <div id="container" class="container">
    <h1>TEST FOR MODULES. Press F12 (Webpack-dev-server)</h1>
</body>
</html>