# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# ide
.vscode

#folder
/.idea/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
result-test.json
reports

# lint
.eslintcache

# production
/build
/dist
/lib

# misc
.DS_Store
yarn.lock

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.now
compiled
.awcache
.rpt2_cache
docs
.scannerwork
coverage

